@using HoiTroWebsite.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <!-- style css -->
    <link rel="stylesheet" href="~/Content/css/hoitro-style-config.css" />
    <link rel="stylesheet" href="~/Content/css/hoitro-style.css">
    <link href="~/Content/hoitro.main.css" rel="stylesheet" />
    <!-- Responsive-->
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <!-- fevicon -->
    @*<link rel="icon" href="~/Content/images/fevicon.png" type="image/gif" />*@
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.min.css" />
    <!-- font-awesome -->
    @Html.Raw("<link href=\"/dist/assets/extensions/@fortawesome/fontawesome-free/css/all.min.css\" rel=\"stylesheet\" />\r\n")

    <link href="~/dist/assets/extensions/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    @RenderSection(name: "header", required: false)
</head>
<!-- body -->
<body class="main-layout">

    <!-- loader  -->
    @*<div class="loader_bg">
            <div class="loader"><img src="~/Content/images/loading.gif" alt="#" /></div>
        </div>*@
    <!-- end loader -->
    <!-- logo và đăng ký, đăng nhập -->
    <div class="header">
        <div class="logo_section ms-5" style="float: left">
            <div class="full">
                <div class="center-desk">
                    <div class="logo">
                        <a href="index.html"><img src="~/Content/images/logo.png" alt="Logo" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-inline">
            <button type="button" data-bs-toggle="offcanvas" data-bs-target="#myoffcanvas" aria-controls="myoffcanvas"
                    class="btn">
                <i class="icon funnel size-14 me-1"></i> <span>Bộ lọc</span>
            </button>
        </div>
        <div class="user-welcome d-flex justify-content-end align-items-center mr-5">
            <!-- Yêu thích -->
            <a rel="nofollow" class="btn btn-outline-secondary me-2 d-flex align-items-center" href="javascript:void(0)">
                <i class="icon heart size-18 me-1"></i> Yêu thích
                <span class="badge bg-danger text-white js-save-post-total ms-1 d-none">1</span>
            </a>

            <!-- Đăng nhập -->
            <a rel="nofollow" class="btn btn-outline-primary me-2" href="/dang-nhap">
                <i class="icon register"></i> Đăng nhập
            </a>

            <!-- Đăng ký -->
            <a rel="nofollow" class="btn btn-outline-primary me-2" href="/dang-ky">
                <i class="icon login"></i> Đăng ký
            </a>

            <!-- Tài khoản người dùng -->
            <a rel="nofollow" class="btn btn-outline-secondary me-2" href="/quan-ly-tin-dang">
                <i class="icon login"></i> Tài khoản người dùng
            </a>

            <!-- Đăng tin miễn phí -->
            <a rel="nofollow" class="btn btn-success btn-add-post" href="/dang-tin-moi">
                <i class="icon"></i> Đăng tin miễn phí
            </a>
        </div>

        <div class="user-welcome clearfix me-5" style="float: right">
            @{
                if (Session["User"] != null)
                {
                    Account user = (Account)Session["User"];
                    <div class="dropdown-menu dropdown-menu-end rounded-4 shadow p-3 show" style="width: 350px; position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 35.2px, 0px);" data-popper-placement="bottom-end">
                        <a class="d-flex mb-3 text-decoration-none my-bg-red text-white p-2 rounded-top-4" rel="nofollow" href="@Url.Action("UpdateProfile", "User")">
                            <div class="flex-shrink-0">
                                <img class="avatar-trang-chu size-60" src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/11/19/green-screen-wall_1732017322.jpg">
                            </div>
                            <div class="flex-grow-1 ms-3 fs-7">
                                <span class="d-block fs-5 fw-semibold">@user.name</span>
                                @user.phoneNum
                            </div>
                        </a>
                        <div class="mt-3">
                            <a class="d-flex justify-content-between mb-2 text-decoration-none text-decoration-none" href="@Url.Action("ManagePostRooms", "User")">
                                <div class="fs-9 text-secondary text-uppercase">Quản lý tin đăng</div>
                                <div class="d-flex text-link text-decoration-underline fs-7">
                                    <span class="link-dark">Xem tất cả</span>
                                </div>
                            </a>
                            <div class="my-bg-red-light text-center p-3 px-1 mb-3 rounded-4">
                                <ul class="d-flex justify-content-around" style="list-style: none; padding: 0; margin: 0;">
                                    <li class="w-auto">
                                        <a class="text-body fs-8 pb-25 pt-2 text-decoration-none" rel="nofollow" href="@Url.Action("PostRoom", "User")">
                                            <span class="fa-fw select-all fas fs-5"></span>
                                            <span class="d-block">Đăng mới</span>
                                        </a>
                                    </li>
                                    <li class="w-auto">
                                        <a class="js-dang-hien-thi text-body fs-8 pt-2 text-decoration-none" rel="nofollow" href="@Url.Action("ManagePostRooms", "User")?action=chonDaDuyet">
                                            <span class="fa-fw select-all fas fs-5"></span>
                                            <span class="d-block">Đang hiển thị</span>
                                        </a>
                                    </li>
                                    <li class="w-auto">
                                        <a class="text-body fs-8 pt-2 text-decoration-none" rel="nofollow" href="@Url.Action("ManagePostRooms", "User")?action=chonDaAn">
                                            <span class="fa-fw select-all fas fs-5"></span>
                                            <span class="d-block">Tin ẩn</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <ul style="list-style: none; padding: 0; margin: 0;">
                            <li>
                                <a class="btn btn-white d-flex justify-content-between p-1 text-decoration-none" rel="nofollow" href="@Url.Action("UpdateProfile", "User")">
                                    <div class="d-flex"><span class="d-flex size-30 bg-light rounded-circle justify-content-center me-2"><span class="fa-fw select-all fas fs-5"></span></span> Quản lý tài khoản</div>
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-white d-flex justify-content-between p-1 text-decoration-none" rel="nofollow" href="@Url.Action("Logout","User")">
                                    <div class="d-flex"><span class="d-flex size-30 bg-light rounded-circle justify-content-center me-2"><span class="fa-fw select-all fas fs-5"></span></span> Đăng xuất</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <ul class="dropdown-menu dropdown-menu-end shadow border-0 pt-3 pb-3 show" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 44.8px, 0px);">
                        <li>
                            <a class="dropdown-item d-flex justify-content-between pt-1 pb-1 pe-5" rel="nofollow" href="@Url.Action("Register", "User")">
                                <div class="d-flex"><span class="d-flex size-30 bg-light rounded-circle justify-content-center me-2"><span class="fa-fw select-all fas pt-1"></span></span> Tạo tài khoản mới</div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex justify-content-between pt-1 pb-1 pe-5" rel="nofollow" href="@Url.Action("Login", "User")">
                                <div class="d-flex">
                                    <span class="d-flex size-30 bg-light rounded-circle justify-content-center me-2">
                                        <span class="fa-fw select-all fas pt-1"></span>
                                    </span> Đăng nhập
                                </div>
                            </a>
                        </li>
                    </ul>
                }
            }
        </div>
    </div>
    <!-- end logo và đăng ký, đăng nhập -->
    <!-- phần navigation bar -->
    <div id="menu-bar">
        @{ Html.RenderAction("GetMenuBar", "MainPartial"); }
    </div>
    <!-- kết thúc navigation bar -->

    <div class="content">
        @RenderBody()
    </div>

    <!-- phần hỗ trợ -->
    @{ Html.RenderAction("GetSupport", "MainPartial"); }
    <!-- kết thúc phần hỗ trợ -->
    @Html.Partial("FilterPopup")
    <footer>
        <div class="footer">
            @{ Html.RenderAction("getFooter", "Footer"); }
        </div>
    </footer>
    <!-- end footer -->

    @Html.Raw("<script src=\"https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js\"></script>")

    <!-- jquery -->
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!-- sidebar -->
    <script src="~/Scripts/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/js/custom.js"></script>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    <script src="~/Scripts/my-js/hoitro.main.js"></script>

    <script src="~/dist/assets/extensions/sweetalert2/sweetalert2.min.js"></script>

    @RenderSection(name: "footer", required: false)

</body>
</html>