@model HoiTroWebsite.Models.SubMenu

<h2>Xóa</h2>

<h3>Bạn có chắc chắn xóa không?</h3>
<div>
    <h4>SubMenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tên")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayName("Liên kết")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayName("Hiển thị")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            @Html.DisplayName("Sắp xếp")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

        <dt>
            @Html.DisplayName("Ngày tạo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>

        <dt>
            @Html.DisplayName("Menu cha")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu.name)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "SubMenus", FormMethod.Post, new { id = "form-delete" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id) <!-- Ẩn trường id để lấy id -->

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" />
        </div>
    }
</div>
