@using HoiTroWebsite.Models
@model HoiTroWebsite.UserModels.PostRoomVM

@{
    ViewBag.Title = "Đăng tin mới";

    string ten_lien_he = "";
    string phone = "";

    if (Session["User"] != null)
    {
        ten_lien_he = (Session["User"] as Account).name;
        phone = (Session["User"] as Account).phoneNum;
    }
}

@section header
{
    @*jquery UI*@
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js" integrity="sha256-AlTido85uXPlSyyaZNsjJXeCs07eSv3r43kyCVc8ChI=" crossorigin="anonymous"></script>

    @*jquery slect2*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    <script src="~/Scripts/libs/vn-num2words/src/index.js"></script>

    <!-- CSS của Dropzone -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@5.9.3/dist/min/dropzone.min.css" />

    <!-- JavaScript của Dropzone -->
    <script src="https://cdn.jsdelivr.net/npm/dropzone@5.9.3/dist/min/dropzone.min.js"></script>

    <!-- Thêm CDN cho SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}

@using (Html.BeginForm("PostRoom", "User", FormMethod.Post, new { @id = "from_dangtin", enctype = "multipart/form-data" }))
{
    <input type="submit" value="Test submit" />
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h3>Địa chỉ cho thuê</h3>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="province_id" class="control-label">Tỉnh/Thành phố</label>
                        <select id="province_id" name="province_id" class="form-control" tabindex="-1">
                            <option value="">-- Chưa chọn tỉnh/thành phố --</option>
                        </select>
                        @*<span class="select2 select2-container select2-container--default" dir="ltr" style="width: 171.1px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-province_id-container"><span class="select2-selection__rendered" id="select2-province_id-container" title="-- Chọn Tỉnh/TP --">-- Chọn Tỉnh/TP --</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper"></span></span>*@
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label control-label" for="district_id">Quận/Huyện</label>
                        <select name="district_id" id="district_id" class="form-control" tabindex="-1" aria-hidden="true">
                            <option value="">Chọn quận huyện</option>
                        </select>
                        @*<span class="select2 select2-container select2-container--default" dir="ltr" style="width: 171.1px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-district_id-container"><span class="select2-selection__rendered" id="select2-district_id-container" title="chọn quận huyện">chọn quận huyện</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper"></span></span>*@
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="phuongxa">Phường/Xã</label>
                        <select class="form-control" name="phuongxa" id="phuongxa" tabindex="-1">
                            <option value="">Chọn phường xã</option>
                        </select>
                        @*<span class="select2 select2-container select2-container--default" dir="ltr" style="width: 171.1px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-phuongxa-container"><span class="select2-selection__rendered" id="select2-phuongxa-container" title="chọn phường xã">chọn phường xã</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="sonha_duong" class="control-label">Số nhà, đường</label>
                        <input type="text" class="form-control" name="sonha_duong" id="sonha_duong" value="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.dia_chi, "Địa chỉ chính xác", new { @class = "control-label" })
                        <!--<input type="text" readonly="" class="form-control" name="dia_chi" id="diachi"--> @*required=""*@<!-->-->
                        @Html.TextBoxFor(model => model.dia_chi, new { @class = "form-control", @readonly = "" })
                    </div>
                </div>
            </div>
            <div class="form-group row mt-5">
                <div class="col-md-12">
                    <h3>Thông tin mô tả</h3>
                </div>
            </div>
            <div class="form-group row mt-3">
                <label for="post_cat" class="col-md-12 control-label">Loại chuyên mục</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.loai_chuyen_muc, null, "-- Chọn loại chuyên mục --", new { @class = "form-control", @id = "post_cat", @required = "" })
                    @Html.ValidationMessageFor(model => model.loai_chuyen_muc)
                    <!--<select class="form-control" id="post_cat" name="loai_chuyen_muc"-->
                    <!--data-msg-required="">
                        <option value="">-- Chọn loại chuyên mục --</option>
                        <option value="1">Phòng trọ cho thuê</option>
                        <option value="2">Nhà cho thuê</option>
                        <option value="3">Căn hộ cho thuê</option>
                        <option value="4">Tìm người ở ghép</option>
                    </select>-->
                </div>
            </div>
            <div class="form-group row">
                <label for="post_title" class="col-md-12 control-label">Tiêu đề</label>
                <div class="col-md-12">
                    <input type="text" class="form-control js-title" name="tieu_de" id="post_title" value="" minlength="30" maxlength="120" data-msg-required="Tiêu đề không được để trống" data-msg-minlength="Tiêu đề quá ngắn" data-msg-maxlength="Tiêu đề quá dài">
                    <input type="hidden" name="tieu_de_meta" meta-content />
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.noi_dung, "Nội dung mô tả", new { @class = "col-md-12 control-label" })
                @Html.ValidationMessageFor(model => model.noi_dung)
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.noi_dung, new { @class = "form-control", @id = "post_content", @rows = "10" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.ten_lien_he, "Thông tin liên hệ", new { @class = "col-md-12 control-label" })
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.ten_lien_he, new { @class = "form-control", @readonly = "readonly", @value = ten_lien_he })
                    </div>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.ten_lien_he, "Thông tin liên hệ", new { @class = "col-md-12 control-label" })
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.phone, new { @class = "form-control", @readonly = "readonly", @value = phone })
                    </div>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.gia, "Giá cho thuê", new { @class = "col-md-12 control-label" })
                <div class="col-md-6">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.gia, new { @class = "form-control", @id = "giachothue", @pattern = "[0-9.]+" })<span class="form-control">đồng/tháng</span><br />
                        @Html.ValidationMessageFor(model => model.gia)
                    </div>
                    <small class="form-text text-muted">Nhập đầy đủ số, ví dụ 1 triệu thì nhập là 1000000</small>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.dien_tich, "Diện tích", new { @class = "col-md-12 control-label" })
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.dien_tich, new { @type = "number", @id = "post_acreage", @name = "dien_tich", @max = "1000", @pattern = "[0-9.]+", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.dien_tich)
                        <div class="input-group-append">
                            <span class="input-group-text">m<sup>2</sup></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.doi_tuong, "Đối tượng cho thuê", new { @class = "col-md-12 control-label" })
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <select class="form-control" id="post_cat" name="doi_tuong">
                            <option value="Tất cả">-- Tất cả --</option>
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row mt-5">
                <div class="col-md-12">
                    <h3>Hình ảnh</h3>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <p>Cập nhật hình ảnh rõ ràng sẽ cho thuê nhanh hơn</p>

                    @* đặt attribute name trùng thì cũng gửi lên server luôn *@
                    <div class="js-dropzone" style="width: 100%; height: 300px; border: 2px solid #333"></div>
                    <div class="list_photos row dropzone-previews" id="list-photos-dropzone-previews">
                    </div>
                    <div id="tpl" style="display:none">
                        <div class="photo_item col-md-2 col-3 js-photo-manual">
                            <div class="photo"><img data-dz-thumbnail=""></div>
                            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
                            <div class="bottom clearfix">
                                <span class="photo_name" data-dz-name=""></span>
                                <span class="photo_delete" data-dz-remove=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg> Xóa</span>
                            </div>
                            <!-- <input name="" value="" type="hidden"> -->
                        </div>
                    </div>

                    <div class="list_photos row dropzone-previews" id="list-photos-dropzone-previews"></div>
                    <div id="tpl" style="display:none">
                        <div class="photo_item col-md-2 col-3 js-photo-manual">
                            <div class="photo"><img data-dz-thumbnail=""></div>
                            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
                            <div class="bottom clearfix">
                                <span class="photo_name" data-dz-name=""></span>
                                <span class="photo_delete" data-dz-remove=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg> Xóa</span>
                            </div>
                            <input name="" value="" type="hidden">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mt-5">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-success mb-5 btn-lg btn-block js-btn-hoan-tat" value="Đăng tin">
                </div>
            </div>
        </div>
        @*<div class="col-md-4">
                <div id="maps" style="width:100%; height:300px; margin-bottom: 30px;">
                    <iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen="" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD6Coia3ssHYuRKJ2nDysWBdSlVlBCzKAw&amp;q=Hồ Chí Minh">
                    </iframe>
                </div>

                <div class="card mb-5" style="color: #856404; background-color: #fff3cd; border-color: #ffeeba;">
                    <div class="card-body">
                        <h4 class="card-title">Lưu ý khi đăng tin</h4>
                        <ul>
                            <li style="list-style-type: square; margin-left: 15px;">Nội dung phải viết bằng tiếng Việt có dấu</li>
                            <li style="list-style-type: square; margin-left: 15px;">Tiêu đề tin không dài quá 100 kí tự</li>
                            <li style="list-style-type: square; margin-left: 15px;">Các bạn nên điền đầy đủ thông tin vào các mục để tin đăng có hiệu quả hơn.</li>
                            <li style="list-style-type: square; margin-left: 15px;">Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn, hãy sửa vị trí tin rao của bạn trên bản đồ bằng cách kéo icon tới đúng vị trí của tin rao.</li>
                            <li style="list-style-type: square; margin-left: 15px;">Tin đăng có hình ảnh rõ ràng sẽ được xem và gọi gấp nhiều lần so với tin rao không có ảnh. Hãy đăng ảnh để được giao dịch nhanh chóng!</li>
                        </ul>
                    </div>
                </div>

            </div>*@
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section footer
{
    <script type="module" src="~/Scripts/js/tinh-thanh.js"></script>
    @*<script src="~/Scripts/js/manage-main.js"></script>*@
    <script src="~/Scripts/js/my-js/hoitro.post.js"></script>
    @*<script>
            const listPhotoPreview = document.getElementById('list-photos-dropzone-previews');

            // hàm tạo elemnt
            const createElement = function (type, props) {
                const $e = document.createElement(type);

                for (var prop in props) {
                    $e.setAttribute(prop, props[prop]);
                }

                return $e;
            }

            // tạo elemrnt input
            const inputImgs = createElement('input', { multiple: true, type: 'file' })

            document.getElementById('imgFiles').addEventListener('change', function () {

                const files = this.files;
                let f1 = this.files[this.files.length - 1];
                let f2 = new DataTransfer();
                f2.items.add(f1)
                f2.items.add(f1)
                console.log(f1, f2);

                this.files = f2.files;

                console.log(this.files);
                inputImgs.files = files;

                Array.from(files).forEach((file) => {

                    const fileName = file.name;
                    const type = file.type;

                    // console.log(file);

                    if (!file) return;

                    const reader = new FileReader();
                    reader.readAsDataURL(file);

                    reader.onload = function (event) {
                        const imgElement = document.createElement("img");
                        imgElement.src = event.target.result;

                        // console.log(event.target);

                        imgElement.onload = function (e) {
                            const canvas = document.createElement('canvas');
                            const ctx = canvas.getContext('2d');

                            // console.log(e.target);

                            // giảm kích thước ảnh thành 120 x 120
                            ctx.drawImage(e.target, 0, 0, 120, 120);

                            // chuyển thành base64 và giảm chất lượng con 0.5
                            const srcEncoded = ctx.canvas.toDataURL(type, 0.5);

                            // const div = createElement('div', { draggable: true });
                            // div.appendChild(createElement('img', { alt: fileName, src: srcEncoded }));

                            listPhotoPreview.innerHTML += `<div class="photo_item col-md-2 col-3" style="">
                                                        <div class="photo">
                                                            <img src="${srcEncoded}">
                                                        </div>
                                                        <div class="dz-progress"><span class="dz-upload"></span></div>
                                                        <div class="bottom clearfix">
                                                            <span class="photo_delete" data-dz-remove=""><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                                </path>
                                                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                                                <line x1="14" y1="11" x2="14" y2="17"></line>
                                                            </svg> Xóa</span>
                                                        </div>
                                                        <input name="" value="${fileName}" type="hidden>
                                                    </div>`;
                        };
                    };
                });
            });

            // drag and drop
            const dropZone = document.getElementById('test-drop-zone');
            $(document).re
            $('#list-photos-dropzone-previews').sortable({
                helper: 'original',
                cursor: 'move',

            });

        </script>*@
}