@model HoiTroWebsite.Models2.ProfileVM

@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Views/Shared/_UserManagement.cshtml";
}

@section css {
    <style>
        #matKhau, #So_dien_thoai, #doiAnhDaiDien {
            cursor: pointer;
        }
    </style>
}

@section ql_tai_khoan_active {active}

@{
    string avatarPath = ViewBag.Account.imagePath ?? "/Data/default-user-avata.svg";
}

<div class="bg-white mb-3 sticky-lg-top z-1">
    <h5 class="m-3">Quản lý tài khoản</h5>
    <ul class="nav nav-tabs ms-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#thong-tin-ca-nhan" role="tab" aria-controls="thong-tin-ca-nhan" aria-selected="true">Thông tin cá nhân</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#doi-so-dien-thoai" role="tab" aria-controls="doi-so-dien-thoai" aria-selected="false" tabindex="-1">Đổi số điện thoại</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#doi-mat-khau" role="tab" aria-controls="thong-tin-ca-nhan" aria-selected="false" tabindex="-1">Đổi mật khẩu</a>
        </li>
    </ul>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="thong-tin-ca-nhan" role="tabpanel">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <form id="change-infor-form" class="form form-horizontal" method="post" action="/quan-ly/cap-nhat-thong-tin" enctype="multipart/form-data">
                    <div class="form-body">
                        <div class="row mb-3 bg-white rounded p-3">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="avatar avatar-xl me-3">
                                    <img src="@avatarPath" alt="" style="object-fit: cover;" id="previewAvatar">
                                </div>
                                <div class="me-3">
                                    <h5 class="mb-0">@Model.Ten_lien_he</h5>
                                    <h6 class="mb-0" style="font-weight: 100;">@Model.So_dien_thoai</h6>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group" onclick="document.getElementById('avatar').click();" id="doiAnhDaiDien">
                                    <span class="fa-fw select-all fas"></span>
                                    Đổi hình đại diện
                                </div>
                                <input class="d-none" type="file" name="avatar" id="avatar" accept="image/png, image/jpeg, image/jpg" />
                                @*<button type="button" class="btn btn-primary" onclick="document.getElementById('avatar').click();">Chọn ảnh</button>*@
                            </div>
                            <div class="col-md-4">
                                <label for="Ten_lien_he">Tên liên hệ</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input type="text" class="form-control fs-5-5" placeholder="Tên của bạn" id="Ten_lien_he" name="Ten_lien_he" value="@Model.Ten_lien_he">
                                        <div class="form-control-icon">
                                            <i class="bi bi-person"></i>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Ten_lien_he)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="So_dien_thoai">Số điện thoại</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input type="number" class="form-control fs-5-5" id="So_dien_thoai" readonly value="@Model.So_dien_thoai">
                                        <div class="form-control-icon">
                                            <i class="bi bi-phone"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="Facebook_link">Link facebook</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input type="text" class="form-control fs-5-5" placeholder="Đường dẫn facebook của bạn" id="Facebook_link" name="Facebook_link" value="@Model.Facebook_link">
                                        <div class="form-control-icon">
                                            <i class="bi bi-facebook"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="Email">Email</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input type="email" class="form-control fs-5-5" placeholder="Email" id="Email" name="Email" value="@Model.Email">
                                        <div class="form-control-icon">
                                            <i class="bi bi-envelope"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="matKhau">Mật khẩu</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input type="password" class="form-control fs-5-5" placeholder="Password" id="matKhau" readonly value="********">
                                        <div class="form-control-icon">
                                            <i class="bi bi-lock"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="col-12 btn btn-primary">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="doi-so-dien-thoai" role="tabpanel">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <form id="change-phone-form" class="form form-horizontal" method="post" action="/quan-ly/thay-doi-so-dien-thoai">
                    <div class="form-body">
                        <div class="row bg-white rounded mb-3">
                            <div class="col-12">
                                <h6 class="my-3">Thay đổi số điện thoại</h6>
                            </div>
                            <div class="col-md-4">
                                <label for="oldNumberPhone">Số điện thoại cũ</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" id="oldNumberPhone" class="form-control fs-5-5" name="oldNumberPhone">
                            </div>
                            <div class="col-md-4">
                                <label for="newNumberPhone">Số điện thoại mới</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" id="newNumberPhone" class="form-control fs-5-5" name="newNumberPhone">
                            </div>
                            <div class="form-group">
                                <button type="button" class="w-100 btn btn-danger" id="getVerificationCodeBtn">Lấy mã xác thực</button>
                            </div>
                            <div class="col-md-4">
                                <label for="maXacThuc">Mã xác thực</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" id="maXacThuc" class="form-control fs-5-5" name="maXacThuc">
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="col-12 btn btn-primary me-1 mb-1">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="doi-mat-khau" role="tabpanel">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <form id="change-password-form" class="form form-horizontal" method="post" action="/quan-ly/thay-doi-mat-khau">
                    <div class="form-body">
                        <div class="row bg-white rounded mb-3">
                            <div class="col-12">
                                <h6 class="my-3">Thay đổi mật khẩu</h6>
                            </div>
                            <div class="col-md-4">
                                <label for="oldPassword">Mật khẩu cũ</label>
                            </div>
                            <div class="col-md-8 form-group mb-0">
                                <input type="password" id="oldPassword" class="form-control fs-5-5" name="oldPassword">
                            </div>
                            <div class="offset-md-4">
                                <a class="d-inline-block mt-2 mb-3 text-decoration-underline text-primary fs-7" id="forgotPassword" href="javascript:void(0)">Bạn quên mật khẩu?</a>
                            </div>
                            <div class="col-md-4">
                                <label for="newPassword">Mật khẩu mới</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="password" id="newPassword" class="form-control fs-5-5" name="newPassword">
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="col-12 btn btn-primary me-1 mb-1">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section script {
    <script>
        $('#So_dien_thoai').click(() => {
            $('li a[href="#doi-so-dien-thoai"]').tab('show');
        });
        $('#matKhau').click(() => {
            $('li a[href="#doi-mat-khau"]').tab('show');
        });

        const $avatar = $('#previewAvatar')

        $('#avatar').on('change', function (e) {
            const $this = $(this);
            const avatarFile = $this.prop('files')[0];
            $avatar.prop('src', URL.createObjectURL(avatarFile));
        });
    </script>
    <script>
        $(document).ready(function () {
            // Lắng nghe sự kiện click vào nút "Lấy mã xác thực"
            $('#getVerificationCodeBtn').click(function () {
                // Lấy giá trị của số điện thoại cũ và mới từ các trường input
                var oldNumberPhone = $('#oldNumberPhone').val();
                var newNumberPhone = $('#newNumberPhone').val();

                // Gửi yêu cầu AJAX đến server để lấy mã xác thực
                $.ajax({
                    url: '/quan-ly/thay-doi-so-dien-thoai/laysodemaxacthuc',
                    type: 'POST',
                    data: {
                        oldNumberPhone: oldNumberPhone,
                        newNumberPhone: newNumberPhone
                    },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);  // Hiển thị thông báo nếu thành công
                        } else {
                            alert(response.message);  // Hiển thị thông báo nếu có lỗi
                        }
                    },
                    error: function () {
                        alert("Đã có lỗi xảy ra. Vui lòng thử lại.");
                    }
                });
            });
        });
    </script>
    <script>
        $('#submitButton').click(function () {
            var formData = new FormData();

            // Thêm các dữ liệu khác vào formData
            formData.append("Ten_lien_he", $('#Ten_lien_he').val());
            formData.append("Facebook_link", $('#Facebook_link').val());
            formData.append("Email", $('#Email').val());

            // Thêm ảnh vào formData (nếu có)
            var avatarFile = $('#avatar')[0].files[0]; // Giả sử #avatar là input file
            if (avatarFile) {
                formData.append("avatar", avatarFile);
            }

            // Gửi AJAX
            $.ajax({
                url: '/quan-ly/cap-nhat-thong-tin',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                    } else {
                        alert('Có lỗi xảy ra: ' + response.message);
                    }
                },
                error: function () {
                    alert('Có lỗi xảy ra trong quá trình gửi dữ liệu.');
                }
            });
        });

    </script>
    <script>
        $('#forgotPassword').click(function () {
            $.ajax({
                url: '/quan-ly/quen-mat-khau/gui-lai-mat-khau', // API gửi mã OTP
                type: 'POST',
                data: { email: 'email người dùng' }, // Lấy email từ session hoặc input
                success: function (response) {
                    if (response.success) {
                        alert(response.message); // Hiển thị thông báo mã OTP đã được gửi
                        // Nếu cần, mở modal nhập OTP
                        $('#otpModal').modal('show');
                    } else {
                        alert(response.message); // Thông báo lỗi
                    }
                },
                error: function () {
                    alert('Có lỗi xảy ra trong quá trình gửi mã xác thực.');
                }
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            $("#change-infor-form").on("submit", function (e) {
                e.preventDefault(); // Ngăn trang reload

                // Tạo đối tượng FormData để gửi dữ liệu, hỗ trợ file upload
                let formData = new FormData(this);

                $.ajax({
                    url: $(this).attr("action"), // Lấy URL từ thuộc tính action của form
                    type: "POST",
                    data: formData,
                    processData: false, // Không xử lý dữ liệu
                    contentType: false, // Không đặt content-type mặc định
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);  // Hiển thị thông báo nếu thành công
                        } else {
                            alert(response.message);  // Hiển thị thông báo nếu có lỗi
                        }
                    },
                    error: function () {
                        alert("Đã có lỗi xảy ra. Vui lòng thử lại.");
                    }
                });
            });
        });

        $(document).ready(function () {
            $("#change-password-form").submit(function (e) {
                e.preventDefault(); // Ngăn trình duyệt reload

                // Lấy dữ liệu từ form
                let oldPassword = $("#oldPassword").val();
                let newPassword = $("#newPassword").val();

                // Gửi yêu cầu AJAX
                $.ajax({
                    url: "/quan-ly/thay-doi-mat-khau",
                    type: "POST",
                    data: { oldPassword, newPassword },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);  // Hiển thị thông báo nếu thành công
                        } else {
                            alert(response.message);  // Hiển thị thông báo nếu có lỗi
                        }
                    },
                    error: function () {
                        alert("Đã có lỗi xảy ra. Vui lòng thử lại.");
                    }
                });
            });
        });

        $(document).ready(function () {
            $("#change-phone-form").submit(function (e) {
                e.preventDefault(); // Ngăn trình duyệt reload

                // Lấy dữ liệu từ form
                let oldNumberPhone = $("#oldNumberPhone").val();
                let newNumberPhone = $("#newNumberPhone").val();
                let maXacThuc = $("#maXacThuc").val();

                // Gửi yêu cầu AJAX
                $.ajax({
                    url: "/quan-ly/thay-doi-so-dien-thoai",
                    type: "POST",
                    data: { oldNumberPhone, newNumberPhone, maXacThuc },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);  // Hiển thị thông báo nếu thành công
                        } else {
                            alert(response.message);  // Hiển thị thông báo nếu có lỗi
                        }
                    },
                    error: function () {
                        alert("Đã có lỗi xảy ra. Vui lòng thử lại.");
                    }
                });
            });
        });
    </script>

}