@*@model HoiTroWebsite.UserModels.ProfileVM*@

@{
    Layout = "~/Views/Shared/_UserManagement.cshtml";
}
<div class="bg-white mb-3 sticky-lg-top">
    <h5 class="m-3">Quản lý tài khoản</h5>
    <ul class="nav nav-tabs ms-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#thong-tin-ca-nhan" role="tab" aria-controls="thong-tin-ca-nhan" aria-selected="true">Thông tin cá nhân</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#doi-so-dien-thoai" role="tab" aria-controls="doi-so-dien-thoai" aria-selected="false" tabindex="-1">Đổi số điện thoại</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#doi-mat-khau" role="tab" aria-controls="thong-tin-ca-nhan" aria-selected="false" tabindex="-1">Đổi mật khẩu</a>
        </li>
    </ul>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="thong-tin-ca-nhan" role="tabpanel">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <form class="form form-horizontal">
                    <div class="form-body">
                        <div class="row mb-3 bg-white rounded p-3">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="avatar avatar-xl me-3">
                                    <img src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/11/19/green-screen-wall_1732017322.jpg" alt="" style="object-fit: cover;">
                                </div>
                                <div class="me-3">
                                    <h5 class="mb-0">Võ Văn Sáng</h5>
                                    <h6 class="mb-0" style="font-weight: 100;">0369566322</h6>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <span class="fa-fw select-all fas"></span>
                                    Đổi hình đại diện
                                </div>
                                <input class="d-none" type="file" name="avatar" accept="image/png, image/jpeg, image/jpg" />
                            </div>                            
                            <div class="col-md-4">
                                @*@Html.LabelFor(model => model.Ten_lien_he, "Tiên liên hệ")*@
                                <label for="first-name-horizontal-icon">Tên liên hệ</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input type="text" class="form-control" placeholder="Tên của bạn" id="tenLienHe">
                                        <div class="form-control-icon">
                                            <i class="bi bi-person"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="soDienThoai">Số điện thoại</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input type="number" class="form-control" id="soDienThoai" readonly>
                                        <div class="form-control-icon">
                                            <i class="bi bi-phone"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="linkFacebook">Link facebook</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input type="email" class="form-control" placeholder="Đường dẫn facebook của bạn" id="linkFacebook">
                                        <div class="form-control-icon">
                                            <i class="bi bi-envelope"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input type="email" class="form-control" placeholder="Email" id="email">
                                        <div class="form-control-icon">
                                            <i class="bi bi-envelope"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="matKhau">Mật khẩu</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input type="password" class="form-control" placeholder="Password" id="matKhau" readonly value="********">
                                        <div class="form-control-icon">
                                            <i class="bi bi-lock"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="col-12 btn btn-primary">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="doi-so-dien-thoai" role="tabpanel">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <form class="form form-horizontal">
                    <div class="form-body">
                        <div class="row bg-white rounded mb-3">
                            <div class="col-12">
                                <h6 class="my-3">Thay đổi số điện thoại</h6>
                            </div>
                            <div class="col-md-4">
                                <label for="oldNumberPhone">Số điện thoại cũ</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" id="oldNumberPhone" class="form-control" name="oldNumberPhone">
                            </div>
                            <div class="col-md-4">
                                <label for="newNumberPhone">Số điện thoại mới</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" id="newNumberPhone" class="form-control" name="newNumberPhone">
                            </div>
                            <div class="form-group">
                                <button type="button" class="w-100 btn btn-danger">Lấy mã xác thực</button>
                            </div>
                            <div class="col-md-4">
                                <label for="maXacThuc">Mã xác thực</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" id="maXacThuc" class="form-control" name="maXacThuc">
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="col-12 btn btn-primary me-1 mb-1">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="doi-mat-khau" role="tabpanel">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <form class="form form-horizontal">
                    <div class="form-body">
                        <div class="row bg-white rounded mb-3">
                            <div class="col-12">
                                <h6 class="my-3">Thay đổi mật khẩu</h6>
                            </div>
                            <div class="col-md-4">
                                <label for="oldPassword">Mật khẩu cũ</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="password" id="oldPassword" class="form-control" name="oldPassword">
                            </div>
                            <div class="col-md-4">
                                <label for="newPassword">Mật khẩu cũ</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="password" id="newPassword" class="form-control" name="newPassword">
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="col-12 btn btn-primary me-1 mb-1">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*<div class="container-fluid">
    <div class="row">
        <main role="main" class="ml-sm-auto col-lg-9">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Cập nhật thông tin cá nhân</h1>
            </div>
            <form class="js-form-submit-data" action="#" data-a.user-avatar-previewction-url="https://phongtro123.com/api/user/update/profile" method="POST" novalidate="novalidate">
                <div class="form-group row mt-5">
                    <label for="user_id" class="col-md-2 offset-md-2 col-form-label">Mã thành viên</label>
                    <div class="col-md-6">
                        <input type="text" readonly="" class="form-control disable" id="user_id" value="@Model.id">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="user_phone" class="col-md-2 offset-md-2 col-form-label">Số điện thoại</label>
                    <div class="col-md-6">
                        <input type="phone" readonly="" class="form-control disable" id="user_phone" value="@Model.phoneNum">
                        <div class="form-text text-muted"><a style="display: inline-block; margin-top: 5px;" href="/thay-doi-so-dien-thoai/@Model.id">Đổi số điện thoại</a></div>
                    </div>
                </div>
                <div class="form-group row mt-5">
                    <label for="user_name" class="col-md-2 offset-md-2 col-form-label">Tên hiển thị</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="user_name" name="name" value="@Model.name" placeholder="Ex: Nguyễn Văn A">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="user_email" class="col-md-2 offset-md-2 col-form-label">Email</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="user_email" name="email" value="@Model.email" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="user_zalo" class="col-md-2 offset-md-2 col-form-label">Số Zalo</label>
                    <div class="col-md-6">
                        <input type="phone" class="form-control" id="user_zalo" name="user_zalo" value="@Model.zaloNum">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="user_facebook" class="col-md-2 offset-md-2 col-form-label">Facebook</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="user_facebook" name="user_facebook" value="@Model.FBlink" placeholder="">
                    </div>
                </div>
                <div class="form-group row mt-5">
                    <label for="user_password" class="col-md-2 offset-md-2 col-form-label" style="padding-top: 0;">Mật khẩu</label>
                    <div class="col-md-6">
                        <a class="" href="/thay-doi-mat-khau/@Model.id">Đổi mật khẩu</a>
                    </div>
                </div>


                <div class="form-group row mt-5">
                    <label for="user_avatar" class="col-md-2 offset-md-2 col-form-label" style="padding-top: 0;">Ảnh đại diện</label>
                    <div class="col-md-6">
                        <div class="user-avatar-upload-wrapper js-one-image-wrapper ">
                            <div class="user-avatar-inner js-one-image-inner">
                                <div class="user-avatar-preview js-one-image-preview" style="background: url(~/Content/images/default-user.jpg) center no-repeat; background-size: cover;"></div>
                            </div>
                            <div class="user-avatar-upload clearfix">
                                <a class="remove-image js-remove-one-image">Xóa hình này</a>
                                <input type="file" class="btn-add-avatar js-change-image-file" multiple="">
                                <input type="hidden" name="user_avatar" class="js-input-value" value="">
                            </div>
                        </div>  end one_featured_image_wrapper 
                    </div>
                </div>
                <div class="form-group row mt-5">
                    <label for="user_email" class="col-md-2 col-form-label"></label>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-primary btn-lg mb-2 btn-block">Lưu &amp; Cập nhật</button>
                    </div>
                </div>
                <input type="hidden" name="user_id" value="@Model.id">
            </form>
        </main>

    </div>
</div>*@

