@model HoiTroWebsite.Models.RoomInfo

<h2>Xóa</h2>

<h3>Bạn có chắn muốn xóa không?</h3>
<div>
    <h4>RoomInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tiêu đề")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayName("Mô tả")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brief_description)
        </dd>

        <dt>
            @Html.DisplayName("Chi tiết")
        </dt>

        <dd>
            @Html.Raw(Model.detail_description)
        </dd>

        <dt>
            @Html.DisplayName("Giá phòng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayName("Diện tích")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acreage)
        </dd>

        <dt>
            @Html.DisplayName("Khu vực")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        <dt>
            @Html.DisplayName("Địa chỉ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayName("Đối tượng cho thuê")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenant)
        </dd>

        <dt>
            @Html.DisplayName("Được duyệt")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayName("Hiển thị")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            @Html.DisplayName("Sắp xếp")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

        <dt>
            @Html.DisplayName("Ngày đăng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>

        <dt>
            @Html.DisplayName("Loại phòng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomType.title)
        </dd>

        <dt>
            @Html.DisplayName("Người đăng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.name)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "RoomInfoes", FormMethod.Post, new { id = "form-delete" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id) <!-- Ẩn trường id để lấy id -->

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" />
        </div>
    }
</div>
