@model HoiTroWebsite.Models.RoomInfo

<h2>Chỉnh sửa</h2>

<div>
    <h4>Bài đăng cho thuê</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tiêu đề")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayName("Mô tả")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brief_description)
        </dd>

        <dt>
            @Html.DisplayName("Chi tiết")

        </dt>

        <dd>
            @Html.Raw(Model.detail_description)
        </dd>

        <dt>
            @Html.DisplayName("Giá phòng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayName("Diện tích")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acreage)
        </dd>

        <dt>
            @Html.DisplayName("Khu vực")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        <dt>
            @Html.DisplayName("Địa chỉ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayName("Đối tượng cho thuê")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayName("Hiển thị")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            @Html.DisplayName("Sắp xếp")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

        <dt>
            @Html.DisplayName("Ngày đăng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>

        <dt>
            @Html.DisplayName("Loại phòng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomType.title)
        </dd>

        <dt>
            @Html.DisplayName("Người đăng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.name)
        </dd>

    </dl>
</div>