<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iframe</title>

    <link rel="stylesheet" crossorigin href="~/dist/assets/compiled/css/app.css">
    <link rel="stylesheet" crossorigin href="~/dist/assets/compiled/css/iconly.css">
    <link rel="stylesheet" href="~/Content/user.dashboard.css" />
    <link href="~/Content/hoitro.main.css" rel="stylesheet" />
    @Html.Raw("<link rel=\"stylesheet\" href=\"/dist/assets/extensions/@fortawesome/fontawesome-free/css/all.min.css\">\n")

    @RenderSection(name: "css", required: false)
</head>

<body @RenderSection(name: "scrollspy", required: false)>
    <script src="~/dist/assets/static/js/initTheme.js"></script>
    <div id="app">
        <div id="main">            
            @RenderBody()
        </div>
    </div>

    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/dist/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <script src="~/dist/assets/compiled/js/app.js"></script>

    @RenderSection(name: "script", required: false)
</body>

</html>