@model List<HoiTroWebsite.Models.RoomInfoViewModel>

@foreach (var i in Model)
{
    <li class="post-item post-id-649687 style-4 clearfix post-vip vipnoibat" style="border-color: #e13427"
        post-id="649687">
        <figure class="post-thumb">
           <a class="clearfix"
               href="/@ViewBag.meta/@i.RoomInfo.meta/@i.RoomInfo.id">
                <img class="img-thumb"
                     src="@i.ImagePath"
                     data-src="@i.ImagePath"
                     alt="@i.RoomInfo.title">
            </a>
            <span class="images-number">14 ảnh</span>
            <span class="has-video"></span>
            <span class="chothuenhanh-label"></span>
            <span class="post-save js-btn-save" data-post-id="649687"><i></i></span>
        </figure>
        <div class="post-meta">
            <h3 class="post-title">
                <a style="color: #e13427"
                   href="/@ViewBag.meta/@i.RoomInfo.meta/@i.RoomInfo.id">
                    @i.RoomInfo.title
                </a>
            </h3>
            <div class="meta-row clearfix">
                <span class="post-price">@i.RoomInfo.price triệu/tháng</span><span class="post-acreage">@i.RoomInfo.acreage.ToString()m²</span>
                <span class="post-location">
                    <a href="Cho thuê">
                        @i.RoomInfo.area
                    </a>
                </span>
                <time class="post-time" title="@i.RoomInfo.datebegin">thời gian đến hiện t</time>
            </div>
            <div class="meta-row clearfix">
                <p class="post-summary">
                    @Html.Raw(i.RoomInfo.brief_description.Length > 200 ? i.RoomInfo.brief_description.Substring(0, 200) + "..." : i.RoomInfo.brief_description)
                </p>
            </div>
            <div class="meta-row clearfix">
                <div class="post-author">
                    <img src="@i.Account.avtImage" alt="@i.Account.name">
                    <span class="author-name">@i.Account.name</span>
                </div>
                <a rel="nofollow" target="_blank" href="https://zalo.me/@i.Account.zaloNum"
                   class="btn-quick-zalo">Nhắn Zalo</a>
                <a rel="nofollow" target="_blank" href="tel:@i.Account.phoneNum" class="btn-quick-call">
                    Gọi @i.Account.phoneNum
                </a>
            </div>
        </div>
    </li>
}