@model List<HoiTroWebsite.Models.RoomInfo>
@using HoiTroWebsite.HTLibraries;

@{
    string ten_anh = "";
    string path_1 = "/Data/default-room-img.jpg";
    string href = "";
    string gia_tien = "";
    string ngay_dang_tin = "";
}

@foreach (var i in Model)
{
    if (i.RoomImages.Count > 0)
    {
        ten_anh = i.RoomImages.FirstOrDefault(img => img.order == 0).file_name;
        path_1 = i.RoomImages.FirstOrDefault(img => img.order == 0).imagePath;
    }
    else
    {
        ten_anh = "default-room-img.jpg";
        path_1 = "/Data/default-room-img.jpg";
    }
    href = "/" + ViewBag.meta + "/" + i.meta + "/" + i.id.ToString();
    gia_tien = new NumberUnit(i.price).RoundWithLargestUnit();
    ngay_dang_tin = StringUI.Convert2DateTimeVietnamese(dateTime: i.datebegin);

    <li class="post-item post-id-649687 style-4 clearfix post-vip vipnoibat" style="border-color: #e13427"
        post-id="649687">
        <figure class="post-thumb">
            <a class="clearfix"
               href="@href">
                <img class="img-thumb"
                     src="@path_1"
                     alt="@ten_anh">
            </a>
            <span class="images-number">@i.RoomImages.Count ảnh</span>
            <span class="has-video"></span>
            <span class="chothuenhanh-label"></span>
            <span class="post-save js-btn-save" data-post-id="649687"><i></i></span>
        </figure>
        <div class="post-meta">
            <h3 class="post-title">
                <a style="color: #e13427"
                   href="@href">
                    @i.title
                </a>
            </h3>
            <div class="meta-row clearfix">
                <span class="post-price">@gia_tien/tháng</span><span class="post-acreage">@i.acreage m<sup>2</sup></span>
                @*<span class="post-location">
                        <a href="Cho thuê">
                            @i.RoomInfo.area
                        </a>
                    </span>*@
                <time class="post-time" title="@ngay_dang_tin">@ngay_dang_tin</time>
            </div>
            <div class="meta-row clearfix">
                <p class="post-summary">
                    @Html.Raw(i.detail_description.Length > 200 ? i.detail_description.Substring(0, 200) + "..." : i.detail_description)
                </p>
            </div>
            <div class="meta-row clearfix d-flex">
                <div class="post-author me-auto">
                    <img src="@i.Account.imagePath" alt="@i.Account.name">
                    <span class="author-name">@i.Account.name</span>
                </div>
                <a rel="nofollow" target="_blank" href="https://zalo.me/@i.Account.zaloNum"
                   class="btn-quick-zalo me-2">Nhắn Zalo</a>
                <a rel="nofollow" target="_blank" href="tel:@i.Account.phoneNum" class="btn-quick-call">
                    Gọi @i.Account.phoneNum
                </a>
            </div>
        </div>
    </li>
}