@model List<HoiTroWebsite.Models.RoomType>

@{
    ViewBag.Title = "Phòng trọ";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@foreach (var i in Model)
{
    <section class="category-section">
        <div class="category-title h4">
            <a href="@ViewBag.meta/@i.meta">@i.title</a>
        </div>
        <ul class="post-list">
            @Html.Action("getInfor", "RoomInfo", new { id = @i.id, metatitle = @ViewBag.meta })
        </ul>
    </section>
}
<!-- end our_room -->
