@model List<HoiTroWebsite.Models.RoomType>

@{
    ViewBag.Title = "getRoomType";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="our_room">
    <div class="container">
        @foreach (var i in Model)
        {
         <div class="row">
             <div class="col-md-12">
                 <div class="titlepage">
                     <h2><a href="@ViewBag.meta/@i.meta">@i.title</a></h2>
                     <p>Lorem Ipsum available, but the majority have suffered </p>
                 </div>
             </div>
         </div>
         <div class="row">
             @Html.Action("getInfor", "RoomInfo", new { id = @i.id, metatitle = @ViewBag.meta })
         </div>
        }
    </div>
</div>
<!-- end our_room -->
