@model List<HoiTroWebsite.Models.RoomInfoViewModel>

<!-- our_room -->

            @foreach (var i in Model)
            {
                <div class="col-md-4 col-sm-6">
                    <div id="serv_hover" class="room">
                        <div class="room_img">
                            <figure><img src="@i.ImagePath" alt="#" /></figure>
                        </div>
                        <div class="bed_room" style="font-family:'Times New Roman';">
                            <a href="/@ViewBag.meta/@i.Meta/@i.ID" style="font-family:'Times New Roman', Times, serif; font-size:larger;">@i.Title</a>
                            <br />
                            <b style="color: orangered; font-size: large;">@i.Price</b>
                            <span>@i.Acreage</span>
                            <p>@i.Area</p>
                            <p style="font-style:italic">
                                @Html.Raw(i.BriefDescription.Length > 200 ? i.BriefDescription.Substring(0, 200) + "..." : i.BriefDescription)
                            </p>
                        </div>
                    </div>
                </div>
            }
<!-- end our_room -->