@model List<HoiTroWebsite.Models.RoomInfoViewModel>

@foreach (var i in Model)
{
    <li class="post-item post-id-649687 style-4 clearfix post-vip vipnoibat" style="border-color: #e13427" post-id="649687">
        <figure class="post-thumb">
            <a class="clearfix"
               @*href="/chinh-chu-cho-thue-phong-tro-duong-ung-van-khiem-quan-binh-thanh-pr649687.html">*@
               href="javascript:void(0);">
                <img class="img-thumb"
                     @*src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/03/29/2_1711684797.jpg"
                     data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/03/29/2_1711684797.jpg"*@
                     src="@i.ImagePath"
                     data-src="@i.ImagePath"
                     alt="GẦN TRƯỜNG GTVT, NGOẠI THƯƠNG, HUTECH, HỒNG BÀNG, UEF - AN NINH, TIỆN NGHI - TT Q.BÌNH THẠNH ĐƯỜNG UNG VĂN KHIÊM" />
            </a>
            <span class="images-number">14 ảnh</span>
            <span class="has-video"></span>
            <span class="chothuenhanh-label"></span>
            <span class="post-save js-btn-save" data-post-id="649687"><i></i></span>
        </figure>
        <div class="post-meta">
            <h3 class="post-title">
                <a style="color: #e13427"
                   href="/chinh-chu-cho-thue-phong-tro-duong-ung-van-khiem-quan-binh-thanh-pr649687.html">
                    @i.Title
                </a>
            </h3>
            <div class="meta-row clearfix">
                <span class="post-price">@i.Price triệu/tháng</span><span class="post-acreage">@i.Area.ToString()m²</span>

                <span class="post-location">
                    <a 
                       @*href="https://phongtro123.com/tinh-thanh/ho-chi-minh/quan-binh-thanh"*@
                       href="javascript:void(0);"
                       title="Cho thuê phòng trọ Quận Bình Thạnh, Hồ Chí Minh">
                        @*Quận Bình Thạnh, Hồ Chí Minh*@
                    </a>
                </span>
                <time class="post-time" title="Thứ 7, 15:21 05/10/2024">1 ngày trước</time>
            </div>
            <div class="meta-row clearfix">
                <p class="post-summary">
                    @*- Để đảm bảo an ninh cho Sinh Viên ở Ngõ Sen giờ hoạt động
                    từ 6h - 24h (không có giờ tự do), ra vào cổng bằng khóa
                    vân tay.- Đ/c: Ngõ Sen 97/15, Ung Văn…*@
                    @i.BriefDescription
                </p>
            </div>
            <div class="meta-row clearfix">
                <div class="post-author">
                    <img src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/08/09/z5713455168024-ccda1e38ce32297e6f81d40431003eee_1723171698.jpg" />
                    <span class="author-name">Nhà Trọ Ngõ Sen</span>
                </div>
                <a rel="nofollow" target="_blank" href="https://zalo.me/0909814679"
                   class="btn-quick-zalo">Nhắn Zalo</a>
                <a rel="nofollow" target="_blank" href="tel:0909814679" class="btn-quick-call">
                    Gọi
                    0909814679
                </a>
            </div>
        </div>
    </li>
}