@model List<HoiTroWebsite.Models.RoomType>

@foreach (var i in Model)
{
    <section class="category-section">
        <div class="category-title h4">
            <a href="@ViewBag.meta/@i.meta">@i.title"</a>
        </div>
        <ul class="post-list">
            @Html.Action("getInfor", "HomePage", new { id = @i.id, metatitle = @ViewBag.meta })
        </ul>
    </section>
}
<!-- end our_room -->

@*<section class="category-section">
    <div class="category-title h4">
        <a href="@ViewBag.meta/@i.meta">@i.title">Phòng trọ, nhà trọ</a>
    </div>
    <ul class="post-list">
        @Html.Action("getInfor", "HomePage", new { id = @i.id, metatitle = @ViewBag.meta })
    </ul>
</section>*@