@model HoiTroWebsite.Models.Menu

<h2>Details</h2>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tên")
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.name)
        </dd>

        <dt>
            @Html.DisplayName("Liên kết")
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.link)
        </dd>

        <dt>
            @Html.DisplayName("meta")
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.meta)
        </dd>

        <dt>
            @Html.DisplayName("Hiển thị")
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.hide)
        </dd>

        <dt>
            @Html.DisplayName("Sắp xếp")
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.order)
        </dd>

        <dt>
            @Html.DisplayName("Ngày tạo")
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.datebegin)
        </dd>

        <dt>
            @Html.DisplayName("Có menu con")
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.hasSubMenu)
        </dd>

    </dl>
</div>
