@model List<HoiTroWebsite.Models.RoomInfo>
@using HoiTroWebsite.HTLibraries;
@using HoiTroWebsite.Models2;

@foreach (var room in Model)
{
    string path ="/Data/default-room-img.jpg";
    string ten_anh = "";
    int so_luong_anh = 0;
    string gia_tien = new NumberUnit(room.price).RoundWithLargestUnit();
    string ngay_gio = StringUI.Convert2DateTimeVietnamese(dateTime: room.datebegin);
    (string, string) trang_thai = room.isApproved == true ? ("text-success", "Đã duyệt") : ("text-danger", "Chưa duyệt");
    (string, string) trang_thai_an_tin = room.hide == true ? ("text-bg-success", "Tin đang hiện") : ("text-bg-danger", "Tin đang ẩn");
    (string, string) nut_an_hien = room.hide == true ? ("btn-outline-light js-hide-tin", "Ẩn tin") : ("btn-outline-success js-show-tin", "Hiện tin");
    if (room.RoomImages.Count != 0)
    {
        ten_anh = room.RoomImages.Where(ri => ri.order == 0).FirstOrDefault().file_name;
        path = room.RoomImages.Where(ri => ri.order == 0).FirstOrDefault().imagePath;
        so_luong_anh = room.RoomImages.Count;
    }

    <content class="col-md-12">
        <div class="card shadow-sm rounded-3 mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                        <div class="rounded overflow-hidden position-relative">
                            <a href="#!" class="anh-dai-dien">
                                <img src="@path" alt="@ten_anh" class="w-100">
                            </a>

                            <div class="image__count"><i class="fa-fw select-all fas size-12 me-1"></i><span>@so_luong_anh</span></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 col-xl-5">
                        <div class="bg-light d-inline text-uppercase p-1" style="font-size: 0.7rem;">@room.RoomType.title</div>
                        <h6>@room.title</h6>
                        <div class="mt-1 mb-0">
                            <span class="text-success">@gia_tien/tháng</span>
                            <span class="text-light"> • </span>
                            <span>@(room.acreage)m<sup>2</sup></span>
                            @*<span class="text-light"> • </span>
                            <span>Quận 7, Thành Phố Hồ Chí Minh<br></span>*@
                        </div>
                        <div class="mb-2 d-flex column-gap-2">
                            <div>
                                <div>Mã tin</div>
                                @room.id
                            </div>
                            <div>
                                <div>Ngày đăng tin</div>
                                @ngay_gio
                            </div>
                            <div>
                                <div>Trạng thái</div>
                                <span class="@trang_thai.Item1 bg-light rounded p-1" admin-hide="true">@trang_thai.Item2</span>
                            </div>
                        </div>
                        <span class=" d-lg-none">
                            <span user-hide="true" class="small @trang_thai_an_tin.Item1 rounded p-1">@trang_thai_an_tin.Item2</span>
                        </span>
                    </div>
                    <div class="border-start col-lg-2 col-xl-2 d-none d-lg-flex d-xl-flex justify-content-center align-items-center">
                        <span user-hide="true" class="small @trang_thai_an_tin.Item1 rounded p-1">@trang_thai_an_tin.Item2</span>
                    </div>
                    <div class="col-md-6 col-lg-2 col-xl-2 border-sm-start-none border-start mt-3 mt-md-0 d-flex flex-column justify-content-center">
                        <a href="@Url.Action("EditPostRoom", "User", new { id = room.id })" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-outline-success btn-sm" type="button" data-mdb-button-initialized="true">
                            Sửa tin
                        </a>
                        @*<button data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-outline-primary btn-sm mt-2" type="button" data-mdb-button-initialized="true">
                            Xem tin đăng
                            </button>*@
                        <button class="btn @nut_an_hien.Item1 btn-sm mt-2" data-id="@room.id" type="button">
                            @nut_an_hien.Item2
                        </button>
                        <button class="js-delete-post btn btn-outline-danger btn-sm mt-2" type="button" data-id="@room.id">
                            Xóa tin
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </content>
}


