@model HoiTroWebsite.Models.Mentor

<h2>Details</h2>

<div>
    <h4>Mentor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tên người hướng dẫn")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayName("Ảnh đại diện")
        </dt>

        <dd>
            <div class="col-md-4">
                <img src="~/Content/images/@Model.avtImage" width="100px" /> <!--Lưu ý quyết định nd lưu imagePath trên csdl-->
            </div>
        </dd>

        <dt>
            @Html.DisplayName("Thư điện tử")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayName("Số điện thoại")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNum)
        </dd>

        <dt>
            @Html.DisplayName("Liên kết FaceBook")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FBlink)
        </dd>

        <dt>
            @Html.DisplayName("Số zalo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zaloNum)
        </dd>

        <dt>
            @Html.DisplayName("Vai trò hỗ trợ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supportTask)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayName("Hiển thị")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            @Html.DisplayName("Sắp xếp")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

        <dt>
            @Html.DisplayName("Ngày tạo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>

    </dl>
</div>
