@model HoiTroWebsite.Models.News

<h2>Chi tiết</h2>

<div>
    <h4>Tin Tức</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tiêu đề")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayName("Ảnh đại diện")
        </dt>

        <dd>
            <div class="col-md-4">
                <img src="~/Content/images/@Model.imagePath" width="100px" />
            </div>
        </dd>

        <dt>
            @Html.DisplayName("Tác giả")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayName("Hiển thị")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            @Html.DisplayName("Sắp xếp")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

        <dt>
            @Html.DisplayName("Ngày đăng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>

        <dt>
            @Html.DisplayName("Mô tả")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brief_description)
        </dd>

        <dt>
            @Html.DisplayName("Chi tiết")
        </dt>

        <dd>
            @Html.Raw(Model.detail_description)
        </dd>

        <dt>
            @Html.DisplayName("Loại tin tức")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsType.title)
        </dd>

    </dl>
</div>
