@model List<HoiTroWebsite.Models.News>

@{
    ViewBag.Title = ViewBag.title;
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@{
    string new_img_path = "";
    string file_name = "";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/trang-chu">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/tin-tuc">Tin tức</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.title</li>
        </ol>
    </nav>

    <div class="blog-header">
        @ViewBag.title
    </div>

    <div class="row">

        <div class="col-8">
            <div class="left-content">
                <section class="section section-aside-tinmoidang">
                    <ul class="blog-listing clearfix">
                        @foreach (var i in Model)
                        {
                            new_img_path = i.imagePath ?? "/Content/images/default-news.jpg";
                            file_name = i.file_name ?? "default-news.jpg";
                            <li class="article-item clearfix">
                                <a href="/tin-tuc/@i.meta/@i.id">
                                    <figure>
                                        <img class="lazy_done"
                                             src="@new_img_path"
                                             data-src="@file_name"
                                             data-loaded="true">
                                    </figure>
                                    <div class="article-meta">
                                        <h6 class="article-title">
                                            @i.title
                                        </h6>
                                        <p class="article-summary">
                                            @Html.Raw(i.brief_description.Length > 200 ? i.brief_description.Substring(0, 200).Trim() + "..." : i.brief_description)
                                        </p>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </section>
            </div>
            @*<div class="titlepage">
                    <h2>@Model.title</h2>
                </div>*@
        </div>

        <div class="col-4">
            <div class="right-content">
                @{ Html.RenderAction("GetMiniNews", "MainPartial"); }
            </div>
        </div>

    </div>

</div>
