@model HoiTroWebsite.Models.Account

<h2>Chỉnh sửa</h2>

@using (Html.BeginForm("Edit","Accounts", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form-edit"}))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Tài khoản</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        @Html.Label("Tên người dùng", htmlAttributes: new { @class = "control-label " })
        <div class="col-md-10">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Số điện thoại", htmlAttributes: new { @class = "control-label " })
        <div class="col-md-10">
            @Html.EditorFor(model => model.phoneNum, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.phoneNum, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Hình đại diện", htmlAttributes: new { @class = "control-label " })
        <div class="col-md-6">
            <input type="file" name="img" id="img" accept=".jpg, .png, .gif, .jpeg, .bmp" onchange="previewImage(event)" />
        </div>
        <div class="col-md-4">
            <img id="preview" src="~/Content/images/@Model.avtImage" width="100px" />
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Thư điện tử", htmlAttributes: new { @class = "control-label " })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Số zalo", htmlAttributes: new { @class = "control-label " })
        <div class="col-md-10">
            @Html.EditorFor(model => model.zaloNum, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.zaloNum, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Liên kết FaceBook", htmlAttributes: new { @class = "control-label " })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FBlink, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FBlink, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("resetPass", htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">
            <div class="checkbox">
                @* Kiểm tra giá trị của resetPass, nếu là null thì mặc định là false *@
                @Html.CheckBoxFor(model => model.resetPass, new { @class = "checkbox-inline" })
                @Html.ValidationMessageFor(model => model.resetPass, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.meta, htmlAttributes: new { @class = "control-label " })
        <div class="col-md-10">
            @Html.EditorFor(model => model.meta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.meta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Hiển thị", htmlAttributes: new { @class = "control-label " })
        <div class="col-md-10">
            <div class="checkbox">
                @{
                    bool hide = (Model.hide.GetValueOrDefault(false) ? true : false);
                }
                @Html.CheckBoxFor(model => hide)
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Sắp xếp", htmlAttributes: new { @class = "control-label " })
        <div class="col-md-10">
            @Html.EditorFor(model => model.order, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.order, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu thay đổi" class="btn btn-light" />
        </div>
    </div>
</div>
}
